# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'LaTeX => Unicode': 'latex-to-unicode:convert'
  '.list-tree':
      'Convert LaTeX to Unicode' : 'latex-to-unicode:convertAll'
